.b-question__head
{
    width: 100%;
    margin: 0 auto;

    cursor: pointer;
}


/*.b-question__title
{
}

.b-question__title--selected
{
}*/

.b-question__content
{
    overflow: hidden;

    width: 100%;
    height: 0;
    margin: 0 auto;
}

/*
.b-question__content-inner
{
}*/

/* start content open */
.b-question__content--open
{
    height: auto;
}
